/* Start Variables */

/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #ddd;
}
html {
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

.container{
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));
  text-align: center;
  gap: 20px;
  margin-top: 50px;
}
.container > div{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.projects{
  border-bottom: solid 4px orange;
}
.hours{
  border-bottom: solid 4px green;
}
.clients{
  border-bottom: solid 4px purple;
}
